<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @page.title %> - <%= @site.name %></title>
    <link rel="stylesheet" href="<%= asset "css/main.css" %>">
    <%# <link rel="stylesheet" href="../assets/css/main.css"> %>
  </head>
  <body>
    <%= include "nav" %>
    <%= @contents %>
  </body>
</html>
